.note-desc{
    color: white;
    padding-left: 40px;
}

.last-edit{
    text-align: center;
    font-size: 12px;
}

.inpTitle{
    background: transparent;
    border: none;
    color: white;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: bold;
    height: 80px;
    font-size: 40px;
    width: 58vw;
}
/* input[type=text] {
    word-wrap: break-word;
    word-break: break-all;
} */
.inpTitle:focus {
    outline: none !important;
}
.inpContent{
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-family: "Verdana";
    width: 58vw;
    resize: none;
    height: 60vh;

}
.inpContent:focus {
    outline: none !important;
}

@media screen and (max-width: 900px) {
    .inpTitle{
        width: 85vw;
    }
    .inpContent{
        width: 85vw;
    }
}
